<h1>Welcome to the Car Simulator</h1>
<%= @car_missing %>

<h2>Simulate your car:</h2>
<form action="simulator" method="get">
  <input type="text" name="make" placeholder="car make">
  <br/>
  <br/>
  <input type="text" name="model_year" placeholder="car model year">
  <br/>
  <br/>
  <input type="submit" value="Simulate Car">
</form>
