<h1>Your Car Status</h1>

<h2>Make: <%=@car.make%></h2>
<h2>Model: <%=@car.model_year%></h2>
<h2>Speed: <%=@car.speed%>      
  <!-- we need to link the accelerate/brake buttons to their methods in car.rb -->
<input type="button" value="accelerate"> <input type="button" value="brake">
</h2>
