<h1>Your Car Status</h1>

<h2>Make: <%=@car.make%></h2>
<h2>Model: <%=@car.model_year%></h2>

  <!-- action tells the form where to go -->
  <h2>Speed: <%=@car.speed%> km/hr  
  <form action="/car/accelerate" method="get">
    <input type="submit" value="accelerate">
  </form>

  <form action="/car/brake" method="get"> 
     <input type="submit" value="brake">
  </form>
  </h2> 

  <h2>Lights: <%=@car.lights%></h2>
  <form action="/car/lights" method="get">
    <input type="submit" value="Light Switch">
  </form>
